<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<form action="/users/save" method="post">
  id: <input type="text" name="userId"> <br>
  pw: <input type="text" name="password" minlength="8" required> <br>
  이름: <input type="text" name="userName"> <br>
    생년월일: <input type="date" name="birthDate"> <br>
    전화번호 : <input type="text" name="phoneNumber"> <br>

    <input type="submit" value="회원가입">
</form>
<div th:if="${errors}">
    <ul>
        <li th:each="error : ${errors}" th:text="${error.defaultMessage}">오류 메시지</li>
    </ul>
</div>
</body>
</html>